body{
    background-color: #f4f4fc;

   /* align-items: center;*/
}


main{
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.container-derecha{
    
    flex-basis: calc(33.3% - 4rem) ;
    background-color: white;
    border-radius: 10px;
}

.container-izquierda{
    flex-basis: 66.6%;
    border: 32px;
}



#texto-izquierda{
    
    border-radius: 10px;
    width: 90%;
    height: 70%;
    background-color: #f4f4fc;
    border: none;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background-color: #f4f4fc;
    color: #0A3871;
    outline: none;
}



.boton-encriptar{
    background-color: darkblue;
    color: white;
    width: 270px;
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    font-size: 24px;
    border: none;


}

.boton-desencriptar{
    color: darkblue;
    background-color: rgb(216, 223, 232, 1);
    width: 270px;
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    border: 1px;
    font-size: 24px;
}

.botones{
    width: Fixed (680px);
    height: Hug(67px);
    top: 885px;
    left: 240px;
    gap: 24px;
}


.btn-copiar{
    color: darkblue;
    background-color: rgb(216, 223, 232, 1);
    width: 270px;
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    border: 1px;
    font-size: 24px;
    margin: 20px 10px 0 15px;
    top: 1000px;
    margin: 0 0 0 15px;
    display: none;
}

.btn-copiar:hover{
    background-color: rgb(216, 223, 232, 3);
    cursor: pointer;
   
}

#evento:hover{
    cursor: pointer;
}


.container-output{
    position: relative;
    left: 10px;
    top: 10px;
    padding: 0 0 20px 10px;
}
::placeholder{
    color: darkblue;
}

footer{
    text-align: center;
  /*  background: url(imagenes/bg.jpg);*/
    padding:40px;
}

.copyright{
    color:black;
    font-size: 13px;
    margin:20px;
}