body{
    display: flex;
    justify-content: center;
    background-color: #f3f5fc;
    box-sizing: border-box;
}

.principal{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    padding: 3%;
    min-width: 100vh;
    max-width: 1440px;
    width: 100%;
}

#texto-izquierdo{
    flex: 1;
    font-size: 32px;
    background-color: transparent;
    border: none;
    width: 95%;
    min-height: 250px;
    height: auto;
    resize: none;
}

