body{
    background-color: #f4f4fc;
   /* display: flex;*/
   /* align-items: center;*/
}


main{
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.container-derecha{
    /*height: 80%;
    width: auto;
    flex-basis: calc(33.3% - 4rem) ;
    display: block;
    font-size: 20px;
    font-weight: bold;*/
    width: 400px;
height: 944px;
top: 40px;
left: 1000px;
border-radius: 32px;

}

.container-izquierda{
    flex-basis: 66.6%;
}



#texto-izquierda{
    
   /* border-radius: 10px;
    width: 90%;
    height: 90%;
    background-color: #f4f4fc;
    border: none;*/

    width: 680px;
    height: 288px;
    top: 168px;
    left: 240px;

    font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
border: none;
background-color: #f4f4fc;
color: #0A3871;




}

.container-output{
    background-color: white;
    border-radius: 10px;
}

.boton-encriptar{
    background-color: darkblue;
    color: white;
    width: Fixed (328px);
    height: Hug (67px);
    padding: 24px;
    border-radius: 24px;
    gap: 8px;


}

.boton-desencriptar{
    color: darkblue;
    
    width: Fixed (328px);
height: Hug (67px);
padding: 24px;
border-radius: 24px;
gap: 8px;
border: 1px;
}

.botones{
    width: Fixed (680px);
height: Hug (67px);
top: 885px;
left: 240px;
gap: 24px;

}